extends layout

block content
  .container.font-weight-bold.lead#detailsPage
    if added
      .alert.alert-warning(role='alert')
        | #{itemTitle} added to &nbsp;
        a.alert-link(href='/profile') Library
        | .#{addedContent}
        button.close(type="button", data-dismiss="alert", aria-label="Close")
          span(aria-hidden="true") &times;
    .d-flex.justify-content-between.flex-wrap
      .bookDetails.d-flex.flex-no-wrap
        .bookDiv
          img.card-img-top(src=`${itemImg}`, alt=`${itemTitle}`)
          if related.length
            .card.my-5
              .card-header
                | You May Also Like:
              ul.list-group.list-group-flush.listOpts
                each relate in related
                  li.list-group-item
                    a(href=`/search/${relate.Name}/related${contentType}`) #{relate.Name}
        .card-body
          a(href=`/search/${itemId}/add` id='addToLibrary')
            button.btn.btn-outline-secondary(type='button') Add to Library
          p.itemTitle #{itemTitle}
          p.itemAuthor #{itemAuthor}
          p.itemDetails #{itemGenre} | #{itemYear}
          p.description
            | #{itemDescription}
