extends layout

block content
  // container Div
  .container.font-weight-bold.lead
    if added
      .alert.alert-warning(role='alert')
        | #{itemTitle} added to &nbsp;
        a.alert-link(href='/profile') Library
        | .#{addedContent}
        button.close(type="button", data-dismiss="alert", aria-label="Close")
          span(aria-hidden="true") &times;
    .d-flex.justify-content-between.flex-wrap.mt-5
      // gallery Div
      .bookDetails.d-flex.flex-no-wrap
        // book Div
        .bookDiv
          img.card-img-top(src=`${itemImg}`, alt=`${itemTitle}`)
          if related.length
            .card.mt-5
              .card-header
                | You May Also Like:
              ul.list-group.list-group-flush
                each relate in related
                  li.list-group-item
                    a(href=`/search/${relate.Name}/related${contentType}`) #{relate.Name}

        .card-body
          a(href=`/search/${itemId}/add` id='addToLibrary') Add to Library
          p #{itemTitle}
          p #{itemAuthor}
          p #{itemGenre} | #{itemYear}
          p.description
            | #{itemDescription}
