.container.font-weight-bold.lead
  p.mt-4 Search Value
  .d-flex.justify-content-between.flex-wrap
    if(book)
      each item in items
        .booklist.d-flex.flex-no-wrap
          .bookDiv
            img.card-img-top(src=`${item.thumbnail}`, alt=`${item.title}`)
          .card-body
            a.card-text(href=`/search/${item.id}`) #{item.title}
            p #{item.authors}
            p #{item.categories} | #{item.publishedDate}
    else
      each item in items
        .booklist.d-flex.flex-no-wrap
          .bookDiv
            img.card-img-top(src=`${item.artworkUrl100}`, alt=`${item.trackName}`)
          .card-body
            a.card-text(href=`/search/${item.trackId}`) #{item.trackName}
            p #{item.artistName}
            p #{item.primaryGenreName} | #{item.releaseDate}
