extends layout

block content
  .container.font-weight-bold.lead#profilePage
    .d-flex.justify-content-between.flex-wrap
      .bookDetails.d-flex.flex-no-wrap
        .bookDiv
          .card
            .card-header
              | #{firstName} #{lastName}
            ul.list-group.list-group-flush.listOpts
              li.list-group-item
                a(href='/profile') Complete Library
              li.list-group-item
                a(href='/profile/bookshelf') Bookshelf
              li.list-group-item
                a(href='/profile/collection') Movie Collection
              li.list-group-item
                a(href='/profile/account') Account Settings
        .card-body
          .d-flex.justify-content-between.flex-wrap
            if (items.length === 0)
              p Start searching to add items to your Library.
            each item in items
              .book.col-3
                a(href=`profile/${item.itemId}/delete` id='delete')
                  button.btn.btn-outline-secondary.btn-sm(type='button') Delete
                img.card-img-top(src=`${item.itemImg}`, alt=`${item.itemTitle}`)
                .card-body
                  p.card-text.text-center.libraryTitle #{item.itemTitle}
